.dat{
    text-align: center;
    color: red;
    background-color: rgb(180, 115, 115);
}
.ad{
   text-shadow:aquamarine;
   color: black; 
}
.nv #l1{
    display: inline;
    background-color: black;
    border: 1px slateblue;
    margin: 10px;
    padding: 10px;
}
.nv #l2{
    display: inline;
    background-color: aqua;
}
.nv #l3{
    display: inline;
    background-color: brown;
}
.nv #l4{
    display: inline;
    background-color: chartreuse;
}
table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
tr:nth-child(odd){
    background-color: aquamarine;
}